// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-info-view{
  display: flex;
  flex-direction: row;
}
.photo-author, .photo-title{
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.photo-author{
  margin-top: 20px;

  display: inline-block;
}
.photo-info{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: #f3f5f6;
  color: #212124;
  display: block;
  font-size: 100%;
}
.photo-info:hover{
  background-color: rgba(0,0,0,0.05);
}

.photo-info-edit{
  cursor: pointer;
  display: inline-block;
  background-image: url('https://s.yimg.com/uy/build/images/sprites/scrappy@2x-5ca495c2.png');
  background-size: 214px 204px;
  background: url('https://s.yimg.com/uy/build/images/sprites/scrappy-10271d4f.png') -160px -151px no-repeat;
  width: 16px;
  height: 16px;
}

.photo-info-actions{
  display: inline-block;
  position: absolute;
  right: 13px;
  top: 65px;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
}

.photo-info-container{
  width: 100%;
}

.photo-title{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600px;
}
.photo-description{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  width: 500px;
}

.edit-photo-title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 18px;
  min-height: 32px;
  padding: 0 0 0 10px;
  display: block;
  outline: none;
  border: 0;
  border-radius: 3px;
  width: 97.4%;
  box-shadow: inset 0 0 0 1px #9ea4a7;
  overflow: hidden;
}
.edit-photo-description{
  height: 28px;
  min-height: 80px;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 18px;
  padding: 10px;
  width: 97.4%;
  overflow: auto;
  display: block;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #9ea4a7;
  resize: none;
  outline: none;
}

.album-photo img{
  max-height: 300px;
}

.photo-slider-container{
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #262626;
}

.photo-slider-container img{
  max-width: 95%;
  margin-left: 1px;
  cursor: pointer;
}
.add-photo{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height:70px;
  border: 1px dashed #00ccff;
  font-size: 40px;
  color: #00ccff;
}
.photo-left-view{
  position: relative;
  margin-right: 60px;
  margin-bottom: 120px;
  width: 500px;
  float:left;
  display: block;
  color: #212124;
  font-size: 100%;
}

.photo-right-view{
  margin-top: 1em;
  margin-bottom: 120px;
  float: left;
  width: 500px;
  display: block;
  color: #212124;
  font-size: 100%;
}

/* ---- grid ---- */
.photos-grid-container{
  margin-top: 10px;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.photos-grid {
  background-color: #f3f5f6;
  width: 80%;
}

/* clear fix */
.photos-grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.photos-grid-sizer,
.photos-grid-item {
  cursor: pointer;
  width: 33.33%;
}

.photos-grid-item {
  float: left;
}

.photos-grid-item img {
  display: block;
  max-width: 100%;
  padding: 3px;
}

.search-container{
  margin-top: 125px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  display: block;
  width: 100%;
  min-width: 800px;
  padding-bottom: 109px;
}

.search-title{
  margin-left: 80px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.nothing-found{
  font-size: 24px;
}

//cameraroll
.cameraroll-index{
  height: 100%;
}
.cameraroll-container{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraroll-photos{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 150px;
}

.cameraroll-photo-container, .selected-photos{
  margin: 5px;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.cameraroll-photo-container:hover{
  border: 2px solid blue;
  opacity: 0.8;
}
.selected{
  border: 2px solid blue;
}

.select-check{
  border-color: white;
  transform: rotate(-45deg);
  transition: border-color 150ms ease-in-out;
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -6px;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  display: block;
  content: '';
  position: absolute;
}
.check-selected{
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}
.photo-group-photos{
  display: flex;
  flex-wrap: wrap;
}

.photo-group p{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #898989;
}

.cameraroll-photo{
  cursor: pointer;
  max-height: 100%;
}

.cameraroll-photo-items{
  position: relative;
}
.privacy-button{
  background: url('http://res.cloudinary.com/pulsr/image/upload/c_scale,h_20/v1469564761/icons/lock-xxl.png');
  border: none;
  position: absolute;
  bottom: 0;
  left: 5px;
  background-size: cover;
  width: 20px;
  height: 20px;
  z-index: 1;
  cursor: pointer;
}

.public {
  background-image: url('https://s.yimg.com/uy/build/images/sprites/cameraroll@2x-32e63773.png');
  background-size: 162px 140px;
  background: url(https://s.yimg.com/uy/build/images/sprites/cameraroll-471293c0.png) -27px -102px no-repeat;
  width:26px;
  height: 20px;

  // background: url('http://res.cloudinary.com/pulsr/image/upload/c_scale,h_20/v1469575328/icons/eyes-icon-0.png');
}

.private {
  left: 8px;
  bottom: 2px;
  background: url('http://res.cloudinary.com/pulsr/image/upload/c_scale,h_20/v1469564761/icons/lock-xxl.png');
}

//photo select view
.photo-select-view{
  z-index: 2;
  left: 120px;
  right: 120px;
  margin-left: 0px;
  width: inherit;
  bottom: 0px;
  position: fixed;
  min-width: 720px;
  background-color: rgba(255,255,255,0.95);
  border: 1px solid #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  height: 150px;
}

.photo-select-view p{
  position: relative;
  top: -100px;
}


.cameraroll-tray{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  left: 0px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  position: relative;
  height: 50px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}



.selected-photo{
  position: relative;
  background: rgba(0,0,0,0.15);
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.selected-photo img{
  height: 100%;
}

.number-of-selected-photos{
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  min-height: 20px;
  font-size: 15px;
  color: #737b80;
  display: block;
}

.selection-tray-tools{
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.cameraroll-delete-view{
  float: right;
  margin-right: 0;
}

.cameraroll-album-view{
  float: left;
  margin-right: 40px;
  display: block;
}

.delete-selected-photos span{
  color: #e02c33;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
}

.delete-selected-photos-icon{
  cursor: pointer;
  background-image: url(https://s.yimg.com/uy/build/images/sprites/cameraroll@2x-32e63773.png);
  background-size: 162px 140px;
  background: url(https://s.yimg.com/uy/build/images/sprites/cameraroll-471293c0.png) -130px -58px no-repeat;
  width: 16px;
  height: 18px;
  margin-right: 3px;
  display: inline-block;
}

.clearSelection{
  color: #737b80;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 15px;
  cursor: pointer;
}

.clearSelection:hover{
  color: #006dac;
  text-decoration: underline;
}

.album-selected-photos-icon{
  background-image: url(https://s.yimg.com/uy/build/images/sprites/cameraroll@2x-32e63773.png);
  background-size: 162px 140px;
  background: url(https://s.yimg.com/uy/build/images/sprites/cameraroll-471293c0.png) -130px -21px no-repeat;
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.album-selected-photos span{
  vertical-align: top;
  font-size: 15px;
  color: #737b80;
}
.album-selected-photos{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
