// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 964px){
  header{
    flex-wrap: wrap;
  }
  .header-left{
    order: 2;
    background-color: #272626;
    width: 100%;
  }
  .header-right{
    width: 100%;
    margin-left: 100px;
  }
}

.user-icon{
  display: inline-block;
  float: left;
}
.user-icon img{
  width: 100px;
  height: 100px;
  padding: 15px;
  border-radius: 50%;
}

.user-icon-header{
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  z-index: 3;
  float: right;
}

//user settings

.user-settings-header{
  padding-left: 10px;
  padding-top: 5px;
}

.user-settings-dropdown{
  position: absolute;
  right: -1px;
  top: 50px;
  width: 200px;
  box-sizing: border-box;
  display: block;
}

.user-settings-view{
  height: 95px;
  position: relative;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border: 1px solid #aaa;
  cursor: auto;
  background-size: cover;
  background-position: center;
}

.user-settings-nav{
  position: relative;
  padding: 0 15px 14px;
  width: 100%;
  height: 1.95em;
  z-index: 2;
  background: white;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.user-settings-nav li{
  color: #006dac;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  cursor: pointer;
  padding: 3px;
}

.user-settings-nav li:hover{
  background-color: #d1d1e0;
}

.user-settings-nav-item{
  margin-left: 10px;
}

.settings{
  margin-top: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.settings-link{
  display: flex;
  align-items: center;
}


.logout{
  width:100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

// user-banner
.user-banner{
  position: relative;
  margin-top: 55px;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url("http://res.cloudinary.com/pulsr/image/upload/c_crop,h_608,y_250/v1468025075/background%20images/Cool-Space-hd-1080x608-Google-Plus-Cover-01.png");
  background-repeat: no-repeat;
}


.user-banner-icon{
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 50px;
  width: 100px;
  height: 100px;
}

.user-banner-name{
  font-style: 'Lato', sans-serif;
  font-size: 24px;
  position: absolute;
  color: white;
  top: 170px;
  left: 160px;
}

.user-banner-username{
  font-style: 'Lato', sans-serif;
  font-size: 18px;
  position: absolute;
  color: white;
  top: 210px;
  left: 160px;
}

.user-banner-nav{
  height: 50px;
  background-color: white;
  display: flex;
}

.user-banner-nav-items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

.user-banner-nav a{
  font-size: 18px;
  cursor: pointer;
  color: #006dac;
  margin-left: 10px;
  padding-top: 15px;
}

.user-banner-nav a:hover, .current-nav-item{
  border-bottom: 3px solid #128fdc;
}
