/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*reset*/

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   font-family: 'Lato', sans-serif;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   list-style: none;
   border-collapse: collapse;
    border-spacing: 0;
 }
 html{
   height: 100%;
   display: block;
 }

 textarea, input{
   -webkit-appearance: none;
   outline: 0;
   border-radius: 3px;
   resize: none;
   border: 0;
   box-shadow: inset 0 0 0 1px #9ea4a7;
   overflow: auto;
   vertical-align: top;
   margin: 0;
   white-space: pre-wrap;
   word-wrap: break-word;
   text-align: start;
 }
 textarea:focus, input:focus{
   box-shadow: inset 0 0 0 1px #008ddf;
 }

 a{
   color: inherit;
   text-decoration: none;
 }

 li{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
 }
 body{
   height: 100%;
   min-width: 1060px;
   position: relative;
   background-color: #f3f5f6
 }

 h1{
   font-family: 'Lato', sans-serif;
   font-size: 24px;
 }

 /* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/*dimmer*/

.dimmer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
}

 .wrapper{
   min-height: 100vh;
   height: auto !important;
   display: flex;
   flex-direction: column;
 }

 .footer{
 }

 #content{
   min-height: 100vh;
   /*display: flex;
   flex-direction: column;*/
 }
 .app{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   position: relative;
 }

.index{
  font-family: 'Lato', sans-serif;
}

/*signup signin forms*/
 .errors{
   color: red;
   padding-bottom: 10px;
 }
 .user-form-header{
   margin-bottom: 20px;
   text-align: center;
   width: 100%;
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   color: #41415d;
   padding: 3px 0px 20px 10px;
   border-bottom: 2px solid lightblue;
 }

 .login-form{
   font-family: 'Lato', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 400px;
 }

 .login-form.modal {
   height: 257px;
 }

 .user-login-body{
   display: flex;
   flex-direction: column;
   width: 250px;
 }

 .user-login-input{
   margin: 10px;
   padding-left: 10px;
 }

 .user-form-body{
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 .user-form-row{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .user-form-row-column{
   display: flex;
   flex-direction: column;
 }

/*header*/
  header{
    z-index: 102;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%
  }

  footer{
    z-index: -1;
    font-family: 'Lato', sans-serif;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 109px;
    /*min-width: 1060px;
    width: 100%;*/
    font-size: 14px;
    text-align: center;
  }
  .search-field input{
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    transition: width 0.3s ease;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    outline: 0;
    resize: none;
    border: 0;
    height: 33px;
    width: 200px;
   }

   .search-field input:focus{
     width: 300px;
   }
  .searchbar{
    margin-right: 50px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    padding: 1px;
  }
  .search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: left;
    outline: 0;
    width: 32px;
    height: 33px;
    background-color: white;
  }
  .search-icon-img{
    box-shadow: none;
    outline: 0;
    position: inherit;
    background-image: url(http://res.cloudinary.com/pulsr/image/upload/v1467749571/zoom-or-search-tool_318-34054_sp57he.jpg);
    background-size: cover;
    border: 0;
    width: 18px;
    height: 18px;
  }
 .logo{
   margin: 10px 10px 10px 100px;
   color:white;
   font-weight: 700;
   font-size: 30px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
 }
 .header-left{
   display: flex;
   padding-right: 100px;
 }

 .header-right{
   display: flex;
   justify-content: space-between;

 }

 /*dropdown*/
 .explore-dropdown{
   position: relative;
   top: 18px;
   color:white;
   font-size: 18px;
   margin: 0px 0px 0px 20px;
   cursor: pointer;
   font-family: 'Lato', sans-serif;
 }


 .dropdown-content {
   position: absolute;
   left: 0;
   right: 0;
   top: 30px;
   background: white;
   border-radius: 0 0 5px 5px;
   border: 1px solid rgba(0,0,0,0.2);
   border-top: none;
   border-bottom: none;
   list-style: none;
   transition: all 0.3s ease-out;
   max-height: 0;
   overflow: hidden;
   width: 150px;
}

.explore-dropdown:before{
  content: '';
  display: none;
  height: 0;
  width: 0;
  position: absolute;
  left: 9px;
  top: 20px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: rgba(0,0,0,0.25) transparent;
}
.explore-dropdown:after{
   left: 9px;
   content: '';
   display: none;
   height: 0;
   width: 0;
   position: absolute;
   border-width: 0 9px 9px;
   border-style: solid;
   border-color: white transparent;
 }

.explore-dropdown:hover:after{
   display: block;
 }

 .explore-dropdown:hover:before{
   display: block;
 }

.dropdown-content li{
  padding: 5px 10px;
  transition: all 0.3s ease-out;
  color: black;
}
.dropdown-content li:hover{
  background-color: #d1d1e0;
  color: #006dac;
}

.explore-dropdown:hover .dropdown-content{
   max-height: 100px;
   border-bottom: 1px solid rgba(0,0,0,0.2);
   border-top: 1px solid rgba(0,0,0,0.2);
 }




/*buttons*/
.signup_button, .signin_button, .guest_button, .signout_button, .login-form-submit{
  color: white;
  background-color: #128fdc;
  border-radius: 3px;
  border: 0px;
  padding: 0px 20px;
  margin: 10px 20px 10px 10px;
  line-height: 32px;
  height: 32px;
  min-width: 100px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  box-sizing: border-box;
  float: right;
}

.signin_button{
  background-color: black;
  padding: 0px 20px;
  margin: 10px;
}
.signout_button{
  margin-right: 40px;
}

.guest_button{
  background-color: green;
  padding: 0px 20px;
  margin: 10px;
}

.guest_button:hover{
  background-color: #00b300;
}

.signup_button:hover, .login-form-submit:hover{
  background-color: #0066ff
}

.signin_button:hover{
  color: #d1d1e0;
}

.comment_button{
  margin-left: 0px;
}



/*index spash area (not logged in)*/
.splash-page{
  margin-top: 57px;
}
.index-image{
  position: relative;
  display: flex;
  height: 600px;
  /*background-image: url('http://res.cloudinary.com/pulsr/image/upload/c_crop,h_381,w_1024/v1467156976/Space-Galaxy-Stars-Wallpaper-High-Resolution-1024x576_ot028u.jpg');*/
  background-image: url('http://res.cloudinary.com/pulsr/image/upload/v1469848158/background%20images/wallpaper-fantastic-planet-landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crosshair-left{
  width: 150px;
  height: 150px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  left: 50px;
}

.crosshair-right{
  position: absolute;
  width: 150px;
  height: 150px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 5px;
  bottom: 70px;
  right: 50px;
}

.crosshair-center{
  position: absolute;
  left: 45%;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}

.explore-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  width: 100%;
  background: black;
}

.explore-image img{
  width: 100%;
}

.explore-image button{
  outline: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 45%;
  background-color: #128fdc;
  border-radius: 3px;
  border: 0px;
  padding: 0px 20px;
  margin: 10px 20px 10px 10px;
  line-height: 32px;
  height: 32px;
  min-width: 100px;
  display: block;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.features{
  height: 300px;
  margin-bottom: 109px;
  display: flex;
}

.space-feature{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  background-position: center;
  background-image: url('http://res.cloudinary.com/pulsr/image/upload/c_scale,h_500/v1468135971/background%20images/6ba1d650efa7d446020b257823677178.jpg');
}
.location-feature{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  background-position: center;
  background-image: url('http://res.cloudinary.com/pulsr/image/upload/c_scale,h_500/v1468136224/background%20images/Backdropped-by-a-blue-and-white-part-of-Earth-a-partial-view-of-Space-Shuttle-Atlantis-payload-bay.jpg');
}

.index-header{
  font-size: 36px;
  display: block;
  position: relative;
  text-align: center;
  color: lightblue;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px black;
}

.index-subheader{
  display:inline-block;
  font-size: 20px;
  color: white;
  /*background:rgba(0,0,0,0.4);*/
  text-shadow: 1px 1px 1px black;
}

/*photos index*/
.photos-index{
  margin-top: 100px;
  margin-bottom: 109px;
  width:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.photos-images{
  margin:10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: white;
  width: 800px;
}
.photo-show{
  background-color: #262626;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.photo-show-info{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.photos-image{
  width: 100%;
  cursor: pointer;
  max-width: 800px;
}

.index-photo-info-container{
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 10px;
}

.index-photo-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photos-image-name{
  font-weight: bold;
  font-size: 14px;
}

.photos-image-title{
  font-size: 14px;
}
.photo_image_show{
  margin-top: 30px;
  max-height: 400px;
}

.photo_image_show:hover{
  cursor: zoom-in;
}

.popout-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%

}


.popout-image img{
  max-width:100%;
  max-height:100%;
  cursor: zoom-out;
}

.edit-icon{
  width: 20px;
}

/*account settings*/

.account-settings-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  align-items: center;
}

.account-settings-view{
  width: 80%;
}
.account-settings-header{
  margin-top: 100px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  /*margin-left: 60px;*/
  border-bottom: 3px solid black;
}
.account-settings{
  width: 100%;
  margin-bottom: 109px;
}

.account-settings h1{
  font-size: 24px;
  font-weight: 600;
}

.account-settings tr:nth-child(odd){
  text-align: left;
  /*background: #adc4da;*/
}

.account-settings tr:nth-child(even){
  text-align: left;
  border-top: 2px solid black;
  border-bottom: 2px solid gray;
  /*background: #cae3eb;*/
}

.account-settings th{
  padding: 10px 15px 10px 10px;
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}

.settings-td{
  padding: 10px 0;
  width: 50%;
  vertical-align: top;
  font-size: 16px;
  text-align: left;
}

.settings-edit{
  cursor: pointer;
  font-size: 12px;
  vertical-align: top;
  color: #0063DC;
  font-weight: bold;
  padding: 10px 10px 10px 0;
  width: 20%;
  text-align: right;
}

.settings-user-icon{
  width: 48px;
  height: 48px;
}
