/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*reset*/

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 a{
   color: inherit;
   text-decoration: none;
 }

 li{
   list-style-type: none;
   padding: 0px;
   margin: 0px;
 }

/*signup signin forms*/
 .user-form-header{
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   color: #7575a3;
   padding: 3px 0px 10px 10px;
   border-bottom: 2px solid lightblue;
 }

 .user-form-body{
   display: flex;
   flex-direction: column;
   width: 500px;
 }

 .user-form-row{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 20px;
 }

/*header*/
header{
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
 .logo{
   margin: 10px 10px 10px 100px;
   color:white;
   font-weight: 700;
   font-size: 30px;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
 }
 .header-left{
   display: flex;
 }
 .explore-dropdown{
   position: relative;
   top: 18px;
   color:white;
   font-size: 18px;
   margin: 0px 0px 0px 20px;
   cursor: pointer;
   font-family: 'Lato', sans-serif;
 }

 .dropdown-content {
   border: 1px solid black;
   display: none;
   position: absolute;
   background-color: white;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   color: black;
   padding: 5px;
}
.dropdown-content li:hover{
  background-color: #d1d1e0;
}

.explore-dropdown:hover .dropdown-content {
   display: block;
 }

.signup_button, .signin_button, .guest_button, .signout_button {
  color: white;
  background-color: #128fdc;
  border-radius: 3px;
  border: 0px;
  padding: 0px 20px;
  margin: 10px 100px 10px 10px;
  line-height: 32px;
  height: 32px;
  min-width: 100px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  box-sizing: border-box;
  float: right;
}

.signin_button{

  background-color: black;
  padding: 0px 20px;
  margin: 10px;

}

.guest_button{
  background-color: green;
  padding: 0px 20px;
  margin: 10px;
}



/*index spash area (not logged in)*/
.index_image{
  display: block;
  min-width:1375px;
}

.index_header{
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  display: block;
  position: relative;
  text-align: center;
  top: -400px;
  color: lightblue;
}

.index_subheader{
  display:inline-block;
  font-size: 20px;
  color: white;
  background:rgba(0,0,0,0.4);
}

/*photos index*/

.photos-images, .photo-detail{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.photos_image{

  max-width: 800px;
}

.photo_image_detail{
  max-height: 400px;
}

.photo_image_detail:hover{
  cursor: zoom-in;
}

.popout-image {
  height: 100%

}


.popout-image img{
  max-width:100%;
  max-height:100%;
  cursor: zoom-out;
}
